<ecommerce-header title="Painel Administrativo">
  <ng-container
    *ngTemplateOutlet="isAuthenticated ? navTemplate : emptyTemplate"
  ></ng-container>
  <ng-container
    *ngTemplateOutlet="isAuthenticated ? actions : emptyTemplate"
  ></ng-container>
</ecommerce-header>
<ng-template #navTemplate>
  <mat-nav-list>
    <a mat-list-item [activated]="true">Gerenciar usuários</a>
  </mat-nav-list>
</ng-template>
<ng-template #actions>
  <button type="button" (click)="logout()" mat-fab>
    <mat-icon
      aria-hidden="false"
      aria-label="logout icon"
      title="Logout"
    >logout</mat-icon>
  </button>
</ng-template>
<ng-template #emptyTemplate></ng-template>
<main>
  <router-outlet />
</main>
