:host {
  display: flex;
  flex-direction: column;
}

a {
  border: 1px solid red;
}
header {
  display: flex;
  align-items: center;
}
aside {
  width: 240px;
}
main {
  display: flex;
}
section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section > div {
  display: flex;
  align-items: center;
}

hr {
  border: 1px solid #333;
  width: 75%;
}

button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
// mat-card {
//   width: calc(100% - 70px);
//   height: calc(100% - 70px);
// }

mat-card-header {
  display: flex;
  align-items: center;
  & img {
    border-radius: 50%;
  }
}
mat-grid-list {
    width: 100%;
}