<ecommerce-header title="Painel Administrativo"> </ecommerce-header>
<router-outlet></router-outlet>
<main class="flex">
  <aside>
    <mat-nav-list>
      <a mat-list-item [activated]="true">Gerenciar usuários</a>
    </mat-nav-list>
  </aside>
  <section>
    <div>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"
      ></mat-icon>
      <h1>Gerenciamento de usuários</h1>
    </div>
    <hr />

    <mat-grid-list cols="3" gutterSize="10" rowHeight="2:1">
      @for (number of [1, 2, 3, 4, 5, 6, 7]; track $index) {
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <img
                mat-card-image
                src="https://cloudflare-ipfs.com/ipfs/Qmd3W5DuhgHirLHGVixi6V76LhCkZUz6pnFt5AJBiyvHye/avatar/216.jpg"
                width="90"
                height="90"
              />
              <span>Lila Kuhic</span>
            </mat-card-header>
            <mat-card-content>
              Dicta quaerat nemo repellendus adipisci. Hic iusto similique sint.
              Voluptate quam minus aliquam maiores tenetur excepturi. Itaque
              doloribus unde accusantium corporis possimus. Accusantium
              voluptatum consequuntur.
            </mat-card-content>
            <mat-card-actions>
              <div>
                <button type="button">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="switch_access_shortcut"
                  ></mat-icon>
                </button>
                <button type="button">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="delete_forever"
                  ></mat-icon>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
  </section>
</main>
